ion-content {
  --background: #20245b;
  color-scheme: light; 

  &::part(scroll) {
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: hidden;
  }
}


ion-router-outlet {
  flex: 1;
  height: 100%;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 260px;
  min-width: 260px;
  background: white !important; 
  border-right: 1px solid #e0e0e0;
  overflow: visible; 
  z-index: 10;
  color-scheme: light; 
}

.sidebar-content {
  flex-grow: 1;
}

.top-logo {
  padding: 40px 20px 20px;
  text-align: center;
  img {
    width: 200px;
  }
}

.menu-list {
  background: transparent !important;
  padding-right: 0;

  ion-item {
    --padding-start: 40px;
    --color: #2c3e50 !important;
    --background: white !important; 
    font-weight: 600;
    margin-bottom: 5px;
    --min-height: 45px;
    --inner-padding-end: 0;
    color-scheme: light; 
    
    ion-label {
      color: #2c3e50 !important; 
    }
    
    &.active {
      --background: #20245b !important;
      --color: #ffffff !important;
      
      border-radius: 10px 0 0 10px; 
      margin-left: 30px; 

      position: relative;
      right: -1px; 
      z-index: 10;
      --border-style: none;
      
      ion-label {
        color: #ffffff !important; 
      }
    }
    
    // Hover state
    &:hover:not(.active) {
      --background: #f5f5f5 !important;
      --color: #2c3e50 !important;
    }
  }
}

.bottom-section {
  padding: 20px 40px 40px;
  background: white !important; 
  
  .logout-btn {
    --background: #8b0000 !important;
    --background-activated: #a00000 !important;
    --color: white !important;
    --border-radius: 8px;
    --box-shadow: none;
    font-weight: bold;
    height: 40px;
    text-transform: none;
    color-scheme: light; 
  }
}

:host-context(ion-split-pane) {
  background: #20245b; 
}