<ion-content [fullscreen]="true">
  <div class="home-container">
    <h1 class="main-title">CPD PRICE TRACKER</h1>

    <div class="province-grid">
      <div class="province-card" routerLink="/menu/cagayan">
        <div class="image-container">
          <img src="assets/Cag.png" alt="Cagayan Valley Seal" />
        </div>
        <p>CAGAYAN</p>
      </div>

      <div class="province-card" routerLink="/menu/isabela">
        <div class="image-container">
          <img src="assets/isab.png" alt="Isabela Seal" />
        </div>
        <p>ISABELA</p>
      </div>

      <div class="province-card" routerLink="/menu/quirino">
        <div class="image-container">
          <img src="assets/qui.jpg" alt="Quirino Seal" />
        </div>
        <p>QUIRINO</p>
      </div>

      <div class="province-card" routerLink="/menu/nueva">
        <div class="image-container">
          <img src="assets/nueva.png" alt="Nueva Vizcaya Seal" />
        </div>
        <p>NUEVA VIZCAYA</p>
      </div>

      <div class="province-card" routerLink="/menu/batanes">
        <div class="image-container">
          <img src="assets/Batanes.png" alt="Batanes Seal" />
        </div>
        <p>BATANES</p>
      </div>

    </div>
  </div>
</ion-content>